* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

.flex {
    display: flex;
}



/* tag */

body {
    background-color: black;
}

main {
    flex-wrap: wrap;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}

footer {
    position: absolute;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(34, 35, 28);
    color: white;
}

/* classes */

.user {
    position: relative;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 100px;
    background-color: blanchedalmond;
    margin: 2px;
}

ul li {
    display: flex;
    list-style: none;
    text-align: center;
    flex-direction: column;
    padding: 5px 10px;
}

.name {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    font-size: 0.7em;
    display: inline-block;
    background-color: white;
}

.active {
    border: 5px solid lightgreen;
}

.close {
    align-items: center;
    height: 100%;
    color: red;
    background-color: rgb(74, 75, 76);
    padding: 10px;
}
